body{
    font-family: Arial, Helvetica, sans-serif;
}

.box1 , .box2{
    border: 2px solid #444;
    padding: 10px;
}

.box1{
    margin-bottom: 40px;
}

.box2{
    margin-top: 50px;
}

/* ab aisa kr ke apn soch rhe honge ki total dono ke bich duri 40+50 = 90px ho jayegi
but aisa nhi hai, margin colleps ho jati hai, bich main 50 px ka hi gap rhega 
to jo bda margin hoga vhi rhega */